<header class="bg-white shadow-md flex items-center justify-between sticky px-6 py-4">
    <div class="flex items-center gap-2 text-blue-600 text-xl font-bold">
        <a href="/">
        <i class="fas fa-laptop-medical"></i>
        <span>Sistema IT</span>
        </a>
    </div>
</header>